body{
  	color: #333333;
  	font-family: 'Josefin Sans', sans-serif;

}


.about-header{
	height: 100px;

}


.lindsey{
	float: left;
	padding-top:0.3em;
	padding-left:1em;
	font-size: 2em;
	font-weight: 400;

}


.nav{
	top: 0;

}	


.nav li{
	display: inline-block;
	float: right;
	padding: 1em;
	font-size: 1.3em;
	font-weight: 400;
	font-family: 'Josefin Sans', sans-serif;

}


.intro{
	top: 50px;
	padding:2em;
	max-width: 28em;
    margin: 0 auto;
    text-align: center;
	font-size: 1.2em;
	line-height: 200%;
	
}


a:link, a:visited {
  text-decoration: none;
  color: #333333;

}


a:hover, a:active {
    border-bottom: 1px solid #333333;


}


.active a{
	border-bottom: 1px solid #333333;

}

.about{

	font-weight: 400;


}

.about img{
	position: absolute;
	top: 100px;
	left: 0px;
	padding: 2em;
	width: 50%;
}

.why{
	position: absolute;
	top: 100px;
	right: 0px;
	padding: 2em;
	width: 50%;
	font-size: 1.2em;

}


.why h4{
	text-align: center;

}


.why p{
	line-height: 200%;

}


.content p, li{
	font-family: 'Cardo', serif;
	font-size: 1.1em;

}


.overlay{
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	opacity: 0;
	-webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opactiy .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
    transition: opacity .15s ease-in-out;

}


.overlay > .content{
	text-align: center;
	color: white;
	padding: 10px;

}


.thumbnail:hover .overlay{
    opacity: 0.5;
    
}


@media screen and (max-width: 750px) {


	.about img{
		width: 100%;
	}

	.why {
		width: 100%;
		top: 500px;
		background-color: white;
		opacity: 0.6;
		color: 000000;
		font-weight: 700;

	}
	
	
}

@media screen and (max-width: 675px) {

	.nav li {
		display: none; 
		margin: 0;
	}
	.nav .active {
		display: block; 
		text-align: center;
	}

	.nav li {
		display: none; 
		margin: 0;
	}
	.nav .active {
		display: block; 
		text-align: center;
	}

	.about img{
		width: 100%;
	}

	.why {
		width: 100%;
		top: 850px;
		background-color: white;
		opacity: 0.6;
		color: 000000;

	}
	
	
}


@media screen and (max-width: 600px) {

	.nav li {
		display: none; 
		margin: 0;
	}
	.nav .active {
		display: block; 
		text-align: center;
	}

	.about img{
		width: 100%;
	}

	.why {
		width: 100%;
		top: 750px;
		background-color: white;
		opacity: 0.6;
		color: 000000;

	}
	
	
}

@media screen and (max-width: 550px) {

	.nav li {
		display: none; 
		margin: 0;
	}
	.nav .active {
		display: block; 
		text-align: center;
	}

	.about img{
		width: 100%;
	}

	.why {
		width: 100%;
		top: 725px;
		background-color: white;
		opacity: 0.6;
		color: 000000;

	}
	
	
}

@media screen and (max-width: 500px) {

	.nav li {
		display: none; 
		margin: 0;
	}
	.nav .active {
		display: block; 
		text-align: center;
	}

	.about img{
		width: 100%;
	}

	.why {
		width: 100%;
		top: 650px;
		background-color: white;
		opacity: 0.6;
		color: 000000;

	}
	
	
}
@media screen and (max-width: 450px) {

	.nav li {
		display: none; 
		margin: 0;
	}
	.nav .active {
		display: block; 
		text-align: center;
	}

	.about img{
		width: 100%;
	}

	.why {
		width: 100%;
		top: 575px;
		background-color: white;
		opacity: 0.6;
		color: 000000;

	}
	
	
}











